@media screen and (max-width: 1200px) {
    main {
        gap: 2rem;
        flex-direction: column;
    }

    #profile-pic-container img {
        width: 15rem;
    }
}

@media screen and (max-width: 600px) {
    #profile-pic-container img {
        width: 12.5rem;
    }

    #profile-text-container p:nth-of-type(2) {
        font-size: 1.25rem;
    }

    #profile-text-container h1 {
        font-size: 2rem;
    }
}
