@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:wght@100..900&display=swap");

:root {
    --primary-background-color: #232323;
    --secondary-background-color: #2f2f2f;

    --primary-foreground-color: #ffffff;
    --secondary-foreground-color: #a0a0a0;
    --tertiary-foreground-color: #707070;

    --primary-font-family: "Inter", sans-serif;
    --secondary-font-family: "DM Mono", monospace;
}

html,
body {
    font-family: var(--primary-font-family);
    background-color: var(--primary-background-color);
    color: var(--primary-foreground-color);
    height: 100%;
    width: 100%;
}

html,
body,
main > *,
#content > *,
#content #general-info > p,
#location > p {
    margin: 0;
    padding: 0;
}

main,
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#time,
#location > * {
    font-family: var(--secondary-font-family);
    color: var(--tertiary-foreground-color);
    font-size: 0.9rem;
    text-decoration: none;
}

#time {
    margin-top: 2rem;
}

#content #profile-picture {
    height: 7.5rem;
    border-radius: 100%;
}

#content #general-info {
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content #general-info #name {
    font-size: 1.5rem;
}

#content #general-info #occupation {
    color: var(--secondary-foreground-color);
    margin-top: 0.6rem;
    font-size: 1.25rem;
}

#content #social {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#content #social > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
}

#content #social img {
    width: 100%;
}

#content #social img[alt="GitHub"] {
    filter: invert(0.5);
}

#content #social img[alt="Email"] {
    filter: invert(0.47);
}

#content #social #copy-message {
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

#content #social #copy-message {
    display: none;
    position: absolute;
    background-color: var(--secondary-background-color);
    color: var(--primary-foreground-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    z-index: 1;
    transition: opacity 0.2s;
    opacity: 0;
}

#content #social #copy-message img[alt="checkmark"] {
    width: 0.75rem;
    filter: invert(0.9);
}

#location {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
