.time {
    font-size: 0.9rem;
    font-family: var(--secondary-font-family);
    color: var(--tertiary-foreground-color);
}

@media screen and (max-height: 570px) {
    .time {
        display: none;
    }
}